/* Mobile and CSS selectors for any device size */
html, body 
{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

body
{
    background-color: #F7F5E6;
    font-size: 2rem;
}

/* Make navbar as a column */
nav
{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    row-gap: 2rem;
    padding: 1rem;
    background-color: #52658F;
}

a
{
    text-decoration: none;
    color: #F7F5E6;
}

/* Disable color change when link is visited */
a:visited, .dropdown-btn, #toggle
{
   color: #F7F5E6;
}

/* Link when hovered over */
a:hover, .dropdown-btn:hover
{
    color: #e0dec9;
}

.dropdown
{
    overflow: hidden;
    text-align: center;
}

.dropdown-content
{
    display: none;
    position: relative;
    background-color: inherit;
}

.dropdown:hover .dropdown-content
{
    display: block;
}

.dropdown-content div
{
    padding: .75rem;
    padding-right: 1rem;
}

.dropdown-content div:hover 
{
    background-color: #4a5b82;
}
/* Toggle Dark Mode */
#toggle
{
    position: relative;
    display: block;
    width: 120px;
    height: 34px;
    text-align: center;
}
#check-btn
{
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}
#slider
{
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #333e5a;
    width: 120px;
    height: 34px;
    border-radius: 50%;
    border-radius: 34px;
    transition: 0.4s;
    
}
#slider::before
{
    position: absolute;
    content: "";
    border-radius: 50%;
    height: 26px;
    width: 26px;
    background-color: #F7F5E6;
    left: 4px;
    bottom: 4px;
    transition: 0.4s;
}


#check-btn:checked + #slider::before    
{
    background-color: #202435;
    transform: translateX(85px);
}

/* Headers */
.header h1
{
    width: 80%;
    margin: auto;
    margin-top: 2rem;
    text-align: center;
    margin-bottom: 10px;
}

.header p
{
    text-indent: 30px;
    margin: auto;
    width: 70%;
    font-size: 1.5rem;
}

/* Content */
.content
{
    width: 80%;
    margin: auto;
}

/* Select all content children and set it to the center except p elements*/
.content > *:not(p):not(ol):not(ul)
{
    text-align: center;
}

.content p
{
    text-indent: 30px;
    font-size: 1.5rem;
}

/* Centers lists */
.lists
{
    display: inline-block;
    text-align: center;
}

li
{
    font-size: 1.5rem;
}

/* Photo Gallery */
.wrapper
{
    width: 70%;
    margin: auto;
    display: grid;
    grid-gap: 5px;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
}

/* Ingredients */
.ingredients-grid
{
    display: grid;
    grid-template-columns: repeat(1, minmax(100px, 1fr));
}

.left
{
    margin-bottom: 0;
    margin-block-start: 0px;
}

.right
{
    margin-top: 0;
    margin-block-end: 0px;
}

/* Form */
form
{
    margin: 2rem;
}

input, textarea
{
    width: 100%;
}

input[type]:not([type=reset]):not([type=submit]):not([type=checkbox]):focus,textarea:focus
{
    border: 3px solid #555;
    background-color: rgba(204, 204, 204, 0.685);
}

textarea
{
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    resize: none;
}

input[type=submit], input[type=reset]
{
    margin-top: 1rem;
    padding: 1rem;
    background-color: #52658F;
    color: #F7F5E6;
    border: none;
    text-decoration: none;
    cursor: pointer;
}

table, th, td
{
    border: 1px solid black;
    border-collapse: collapse;
    margin: auto;
    text-align: center;
}

img:not(.shrinked-images)
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5%;
}

.shrinked-images
{
    display: block;
    width: 90%;
    margin: auto;
    object-fit: cover;
    border-radius: 5%;
}
.ending
{
    font-size: 1rem;
    text-align: center;
}

#footer
{
    display: flex;
    align-items: flex-end;
    flex: 1;
    justify-content: center;
}

/* Footer */
footer
{
    width: 100%;
    height: 50px;
    background-color: #E8E8E8;
    text-align: center;
    font-size: 1rem;
    /* flex: 1; */
}

footer p
{
    margin: 0px;
}

/* wider screens */
@media  screen and (min-width: 768px)
{
    /* row for wider screen */
    nav
    {
        flex-direction: row;
        justify-content: space-around;
        overflow: hidden;
        height: fit-content
    }   
    .shrinked-images
    {
        width: 60%;
    }
    .dropdown
    {
        overflow: hidden;
        text-align: left;
    }
    
    .dropdown-content
    {
        display: none;
        position: absolute;
        background-color: #52658F;
    }
    
    .dropdown:hover .dropdown-content
    {
        display: block;
    }
    
    .dropdown-content div
    {
        padding: .75rem;
        padding-right: 2rem;
    }
    
    .dropdown-content div:hover 
    {
        background-color: #4a5b82;
    }
    
    .wrapper
    {
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: repeat(2, minmax(100px, 1fr));
    }
    
    #toggle
    {
        text-align: center;
        margin: 0px;
    }
 
    .ingredients-grid
    {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
    }

    .left
    {
        grid-column-start: 1;
        text-align: left;
    }

    .right
    {
        grid-column-start: 2;
        text-align: left;
    }
    
}


/* Dark Mode */

